<%%
// <%= name %>/_<%= name %>.ejs
// A main HTML file of "<%= name %>" component
//
  this.name = '<%= name %>'; var name = this.name;
  this.ejsRoot = '../../';
  this.params = {
    'modifier': '',
    'text': 'Default text here'
  };
  if (typeof util === 'undefined') { include(this.ejsRoot + 'util/_util'); util = getUtil(); }
  util.init()(util, this);
<%- end %>%>
<!-- <%%= name %> -->
<div class="<%%= name %><%%- util.setModifier(name, modifier); %>">
  <p class="<%%= name %>__head"><%%= text %></p>
</div>
<!-- /<%%= name %> -->
