<%%
// <%= name %>/_<%= name %>.ejs
// A main HTML file of "<%= name %>" component
//
  this.name = '<%= name %>';
  this.ejsRoot = '../../';
  this.params = [
    { param: 'modifier', default: '' },
    { param: 'text', default: 'default text' }
  ];
  if (typeof util === 'undefined') { include(this.ejsRoot + 'util/_util'); util = getUtil(); }
  util.init()(util, this);
<%- end %>%>

<!-- <%%= name %> -->
<div class="<%%= name %> <%%= modifier %>">
  <p class="<%%= name %>__head"><%%= text %></p>
</div>
<!-- /<%%= name %> -->
