<%%
// <%= name %>/_<%= name %>.ejs
// A main HTML file of <%= name %> component
//
  var component = '<%= name %>', ejsRoot = '../../', componentParams = [
    { param: 'header', default: 'Heading Text' },
    { param: 'href',   default: '#' }
  ];
  if (util == null) { include(c.ejsRoot + 'util/_util'); util = getUtil(); }
  util.init()(util, ejsRoot, data, modifier, componentParams);
<%- end %>%>

<!-- <%%= component %> -->
<div class="<%%= component %> <%%= modifier %>">
  <p class="<%= name %>__head"><%%= header %></p>
</div>
<!-- /<%%= component %> -->
